@use "../abstracts/mixin";
@use "../abstracts/variables";

.about-section {
  @include mixin.flex(center);
  height: 100vh;
  background-color: var(--white);
  width: 100%;
  flex-direction: column;

  @media screen and (max-width: 1000px) {
    & {
      height: 100%;
      @include mixin.flex(center);
    }
  }

  &__title {
    font-size: 3.3rem;
    font-weight: 700;
    margin: 20px 0px;
    color: var(--title-color);
    @media screen and (max-width: 900px) {
      & {
        width: 100%;
        font-size: 2rem;
      }
    }
    @media screen and (max-width: 500px) {
      & {
        font-size: 1.6rem;
      }
    }
    @media screen and (min-width: 1625px) {
      & {
        font-size: 4.3rem;
      }
    }
  }

  &__title-color {
    color: var(--main-color);
  }

  &__paragraph {
    font-size: 1.2rem;
    color: var(--text-color) !important;
    line-height: 1.7;
    @media screen and (max-width: 500px) {
      & {
        font-size: 1.1rem;
      }
    }
    @media screen and (min-width: 1625px) {
      & {
        font-size: 1.6rem;
      }
    }
  }

  &__span {
    color: var(--main-color);
  }

  &__card {
    @include mixin.flex(center);
    width: 80%;
    height: 400px;
    max-width: 100%;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    @media screen and (max-width: 950px) {
      & {
        height: 100%;
        width: 100%;
      }
    }
  }
}
