@use "../abstracts/mixin";
@use "../abstracts/variables";

.certificates-section {
  background-color: var(--main-white);
  padding: 100px;
  height: auto;

  @media screen and (max-width: 500px) {
    & {
      padding: 25px;
      height: 90vh;
    }
  }

  @media screen and (max-width: 400px) {
    & {
      padding: 25px;
      height: 85vh;
    }
  }

  &__title {
    text-align: center;
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 50px;
    color: var(--title-color);
    @media screen and (max-width: 600px) {
      & {
        font-size: 2.3rem;
      }
    }
    @media screen and (max-width: 500px) {
      & {
        margin-top: 30px;
        font-size: 1.9rem;
      }
    }
  }

  &__color {
    color: var(--main-color);
  }
}

.slick-slider img {
  height: 50%;
  background-size: cover;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  object-position: center center;
  @media screen and (max-width: 500px) {
    & {
      width: 100%;
    }
  }
}

.slick-next {
  display: none;
}

.slick-slider .slick-prev,
.slick-next {
  visibility: hidden;
}

.slick-prev {
  display: none;
}

.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "\2022";
  text-align: center;
  opacity: 0.25;
  color: var(--main-color);
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--main-color);
}
