@use "../abstracts/mixin";
@use "../abstracts/variables";

.contact-section {
  @include mixin.flex(center);
  flex-direction: column;
  height: 100vh;
  background-color: var(--white);

  @media screen and (max-width: 400px) {
    & {
      height: 95vh;
    }
  }

  &__form {
    @include mixin.flex(center);
    flex-direction: column;
    width: 550px;
    padding: 20px;
    @media screen and (max-width: 550px) {
      & {
        width: 100%;
      }
    }
  }

  &__title {
    font-size: 3.3rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--title-color);
    @media screen and (max-width: 900px) {
      & {
        width: 100%;
        font-size: 2rem;
      }
    }
    @media screen and (max-width: 500px) {
      & {
        font-size: 1.9rem;
        margin: 10px 0px;
      }
    }
  }

  &__title-color {
    color: var(--main-color);
  }

  &__link {
    @include mixin.flex(center);
    margin: 20px;
    font-size: 17px;
    text-align: center;
    width: 100%;
    color: var(--text-color);
    @media screen and (max-width: 450px) {
      & {
        flex-direction: column;
        margin: 25px;
      }
    }
  }

  &__form-row {
    flex-direction: column;
    margin: 15px;
    width: 100%;
  }

  &__form-input {
    color: inherit;
    padding: 20px;
    border-radius: 2px;
    border: none;
    background-color: var(--light-grey);
    border-bottom: 3px solid transparent;
    width: 100%;
    max-height: 200px;
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, 0.1);
      border-bottom: 3px solid var(--main-color);
    }

    &:focus:invalid {
      border-bottom: 3px solid var(--main-color);
    }

    @media screen and (max-width: 400px) {
      & {
        padding: 15px;
      }
    }
  }

  &__container-btn {
    @include mixin.flex(center);
    width: 100%;
  }

  &__form-error {
    color: var(--error-message);
  }

  &__container-btn {
    width: 100%;
  }
}

.actived-btn {
  @include mixin.flex(center);
  width: 100%;
  margin: 15px 0px;
  outline: none;
  padding: 4px 20px;
  background-color: var(--main-color);
  border-radius: 0.25rem;
  border: 1px solid var(--main-color);
  color: var(--white);
  font-size: 1rem;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: var(--main-color--hover);
    border-color: var(--main-color--hover);
  }
}

.disabled-btn {
  @include mixin.flex(center);
  width: 100%;
  margin: 15px 0px;
  outline: none;
  padding: 4px 20px;
  background-color: var(--main-color);
  border-radius: 0.25rem;
  border: 1px solid var(--main-color);
  color: var(--white);
  font-size: 1rem;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  cursor: not-allowed;
}
