@use "../abstracts/mixin";
@use "../abstracts/variables";

.section-main {
  background-color: var(--main-white);
  @include mixin.flex(center);

  &__footer {
    @include mixin.flex(center);
    padding: 15px 0px;
    text-align: center;
    flex-direction: column;
  }

  &__footer &__row {
    @include mixin.flex(center);
    width: 100%;
    margin: 1% 0%;
    color: var(--text-color);
    font-size: 0.8em;
  }

  &__row {
    padding: 0 20px;
  }

  &__footer &__row a {
    display: none;
    text-decoration: none;
    color: var(--main-color);
    transition: 0.5s;
    @media screen and (max-width: 1030px) {
      & {
        flex-direction: column;
        padding: 20px;
        margin-right: 0px;
        display: flex;
      }
    }
  }

  &__footer &__row a:hover {
    color: var(--main-color);
  }

  &__footer &__row ul {
    width: 100%;
  }

  &__footer &__row ul li {
    display: inline-block;
    margin: 0px 15px;
  }

  &__footer &__row a i {
    font-size: 3em;
    margin: 0% 1%;
  }
}
