@use "../abstracts/mixin";
@use "../abstracts/variables";

.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.brand {
  color: variables.$main-color;
  font-size: 1.8rem;
}

.nav-header {
  @include mixin.flex(space-between);
  padding: 1rem;
  width: 220px;
}

@media screen and (max-width: 1030px) {
  .nav-header {
    width: 100%;
  }
}

.nav-toggle {
  font-size: 1.5rem;
  color: variables.$main-color;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: variables.$main-color;
}

.links a {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  cursor: pointer;
}

.links a:hover {
  background: variables.$main-color;
  color: variables.$main-color;
  padding-left: 1.5rem;
  @media screen and (max-width: 1030px) {
    & {
      background-color: variables.$white;
    }
  }
}

.social-icons {
  display: none;
}

.links-container {
  background-color: transparent;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  @media screen and (max-width: 450px) {
    & {
      background-color: variables.$white;
    }
  }
}

.show-container {
  height: 1rem;
}

@media screen and (min-width: 1030px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    @include mixin.flex(space-between);
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    @include mixin.flex(center);
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: variables.$main-color;
    transition: all 0.3s linear;
  }
  .social-icons a:hover {
    color: variables.$main-color;
  }
}
