@use "../abstracts/mixin";
@use "../abstracts/variables";

// Variables
$dark-blue: #1e1b2d;
$light-blue: #828092;
$white: #fff;
$black: #000;

.prueba {
  overflow-x: hidden;
}

.projects-section {
  @include mixin.flex(center);
  margin: auto;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 60px;
  height: 100%;

  &__title {
    font-size: 3.3rem;
    font-weight: 700;
    text-align: center;
    color: var(--title-color);
    @media screen and (max-width: 740px) {
      & {
        font-size: 1.9rem;
      }
    }
  }

  &__title-color {
    color: var(--main-color);
  }

  &__row {
    width: 100%;
    margin: auto 0;
    margin: 100px 0px;
    @include mixin.flex(center);
    display: grid;
    grid-template-columns: 1000px;
    gap: 50px;

    @media screen and (max-width: 1100px) {
      & {
        display: grid;
        grid-template-columns: 800px;
      }
    }

    @media screen and (max-width: 900px) {
      & {
        display: grid;
        grid-template-columns: 700px;
      }
    }

    @media screen and (max-width: 800px) {
      & {
        display: grid;
        grid-template-columns: 600px;
      }
    }

    @media screen and (max-width: 700px) {
      & {
        display: grid;
        grid-template-columns: 500px;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        display: grid;
        grid-template-columns: 430px;
      }
    }

    @media screen and (max-width: 376px) {
      & {
        display: grid;
        grid-template-columns: 380px;
      }
    }
  }

  &__repo {
    color: #fff;
    font-size: 12px;
  }

  &__title-card {
    font-weight: 300;
    margin: 15px 0px;
    color: #fff;
  }

  &__box {
    .content {
      margin-bottom: -5px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      box-shadow: 0 5px 30px 10px rgba($black, 0.3);
    }
    .title {
      a {
        color: white;
      }
    }
  }

  &__wrapper {
    background-color: $white;
    margin: 30px;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }

  &__card {
    float: left;
    padding: 1rem;
    width: 100%;

    @media screen and (max-width: 376px) {
      & {
        width: 320px;
        padding: 0px;
      }
    }

    @media screen and (max-width: 330px) {
      & {
        width: 280px;
        padding: 0px;
      }
    }

    .menu-content {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: inline-block;
      }
      a {
        color: $white;
      }
    }

    .data {
      position: absolute;
      bottom: 5px;
      width: 100%;
      transform: translateY(calc(80px + 1em));
      transition: transform 0.3s;
      .content {
        padding: 1.5em;
        position: relative;
        z-index: 1;
      }
    }
    .type {
      font-size: 12px;
    }
    .title {
      margin-top: 10px;
    }
    .text {
      height: 70px;
      margin: 0;
    }
  }
}
