@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Signika Negative", sans-serif;
  background-color: #f6f9ff;
  scroll-behavior: smooth;
}

::selection {
  background: #49a6e9;
  color: #fff;
}
