@use "../abstracts/mixin";
@use "../abstracts/variables";
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Signika Negative", sans-serif;
  background-color: var(--main-white);
  scroll-behavior: smooth;
}

::selection {
  background: var(--main-color);
  color: var(--white);
}
