@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Signika Negative", sans-serif;
  background-color:hsl(210, 36%, 96%);
  scroll-behavior: smooth;
}