* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

// ::-webkit-scrollbar {
//   width: 30px;
// }

// ::-webkit-scrollbar-track {
  // background-color: #cecece;
//   border-radius: 50px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #49a6e9;
//   border-radius: 50px;
// }

// Scrollbar ------

* {
  scrollbar-width: thin;
  scrollbar-color: #00bdbd #ffffff;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #49a6e9;
  border-radius: 14px;
  border: 3px solid #ffffff;
}
