// tema claro

$main-color: #49a6e9;
$main-color--hover: #2c94de;
$main-white: #f6f9ff;
$text-color: #0000009c;
$white: #fff;
$light-grey: #f5f5f5;
$error-message: #ff0000;
$title-color: #000000cb;

// tema oscuro

// $main-color: #49a6e9;
// $main-color--hover: #2c94de;
// $main-white: #29282e;
// $text-color: #f4efef9c;
// $white: #1d1c24;
// $light-grey: #29282e;
// $error-message: #ff0000;
// $title-color: #e8e8e8;

