.light {
  --main-color: #49a6e9;
  --main-color--hover: #2c94de;
  --main-white: #f6f9ff;
  --text-color: #000000c1;
  --white: #fff;
  --light-grey: #f5f5f5;
  --error-message: #ff0000;
  --title-color: #000000cb;
  --transition-duration: 0.5s;
  --navbar: #fff;
  --navShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dark {
  --main-color: #49a6e9;
  --main-color--hover: #2c94de;
  --main-white: #292f3d;
  --text-color: #f4efefd3;
  --white: #111827;
  --light-grey: #29282e;
  --error-message: #ff0000cc;
  --title-color: #e8e8e8;
  --transition-duration: 0.5s;
  --navbar: #292f3d;
  --navShadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
